@namespace BlazorDaisyUI.Dialog
@inherits ComponentBase

<div @attributes="UserAttributes" id="@_elementId" class="modal modal-open @Position">
    <div id="_@Id.ToString("N")" role="dialog" class="@Classname" style="@Style">
        @if (!NoHeader)
        {
            <div class="mud-dialog-title">
                @if (TitleContent == null)
                {
                    <div>@Title</div>
                }
                else
                {
                    @TitleContent
                }
                @if (CloseButton)
                {
                    <button aria-label="close" @onclick="Cancel" class="btn btn-sm btn-circle absolute right-2 top-2">@CloseIcon</button>
                }
            </div>
         }
        <CascadingValue Value="this" IsFixed="true">
            @Content
        </CascadingValue>
    </div>
</div>